@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.weather-header {
  background-color: rgb(52, 14, 241);
  padding: 1.5rem;
}
.weather-header__title {
  text-align: center;
}
@media (max-width: 420px) {
  .weather-header {
    padding: 1rem;
  }
}

.header__city-name {
  font-size: 5rem;
  letter-spacing: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 420px) {
  .header__city-name {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
}
.header__date {
  font-size: 2rem;
}
@media (max-width: 420px) {
  .header__date {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.7rem;
  }
}
.header__hours {
  font-size: 1.5rem;
  padding-top: 1rem;
  letter-spacing: 0.5rem;
}
@media (max-width: 420px) {
  .header__hours {
    padding-top: 0.5rem;
    font-size: 1rem;
  }
}

.kris {
  font-size: 3rem;
  color: yellow;
  text-transform: uppercase;
  letter-spacing: 1rem;
  line-height: 1.6;
  text-align: center;
}
@media (max-width: 420px) {
  .kris {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
}

.smile {
  font-size: 2rem;
  color: yellow;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  line-height: 1.6;
  text-align: center;
}
@media (max-width: 420px) {
  .smile {
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
}

.weather-box {
  color: aliceblue;
  width: 900px;
  margin: 0 auto;
  background-color: rgb(170, 191, 240);
  display: flex;
  flex-direction: column;
}
@media (max-width: 420px) {
  .weather-box {
    width: 100vw;
  }
}

h3 {
  font-size: 3rem;
}
@media (max-width: 420px) {
  h3 {
    font-size: 2rem;
  }
}

h5 {
  font-size: 2rem;
}
@media (max-width: 420px) {
  h5 {
    font-size: 1.5rem;
  }
}

.weather-main {
  background-color: rgba(0, 0, 0, 0.3);
}

.main__temp {
  padding: 1rem;
  display: grid;
  grid-template-columns: minmax(80px, 1fr) minmax(160px, 2fr) minmax(80px, 1fr);
  justify-items: center;
}
@media (max-width: 420px) {
  .main__temp {
    padding: 1rem 0;
  }
}

.main__sunrise {
  text-align: center;
  padding: 3rem;
}
@media (max-width: 420px) {
  .main__sunrise {
    padding: 3rem 0 0 0;
  }
}

.main__current-temp {
  font-size: 8rem;
}
@media (max-width: 420px) {
  .main__current-temp {
    font-size: 6rem;
  }
}

.main__sunset {
  text-align: center;
  padding: 3rem;
}
@media (max-width: 420px) {
  .main__sunset {
    padding: 3rem 0 0 0;
  }
}

.main__temp-feel {
  padding: 1rem;
  text-align: center;
}
@media (max-width: 420px) {
  .main__temp-feel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.temp-feel__temp {
  font-size: 2rem;
}
.main__clouds {
  text-align: center;
  padding-bottom: 1rem;
}
@media (max-width: 420px) {
  .main__clouds {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.main__parameters {
  background-color: rgb(19, 132, 219);
  padding: 1.5rem;
}
@media (max-width: 420px) {
  .main__parameters {
    padding: 0.5rem;
  }
}

.parameters__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  justify-items: center;
  row-gap: 1rem;
}

.title {
  text-align: center;
}

.content {
  display: flex;
}

.number {
  font-size: 2rem;
  padding: 0.5rem;
}
@media (max-width: 420px) {
  .number {
    font-size: 1.5rem;
  }
}

.param {
  padding: 0.5rem;
  line-height: 1;
}